{
  "presets": [ //预设
    ["env", {
      "modules": false, // ES6->ES5的语法模块的风格
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2" // 语法阶段
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
